# Environment / secrets
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
npm-debug.log*
*.log

# OS
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
